@using MVC_App_1.Core.Entities
@model Product

<div class="container">
    <div class="card">
        <h2>Yeni ürün ekle</h2>
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Price"></label>
                <input asp-for="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Description"></label>
                <input asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Category"></label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<CategoryEnum>()"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" value="Kaydet" />
                <a asp-action="Index">Listeye geri dön</a>
            </div>
        </form>
    </div>
</div>
