<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadPartial" />
</head>
<body>
    <partial name="_HeaderPartial" />

    <div>
        @RenderBody()
    </div>

    <partial name="_FooterPartial" />
</body>
</html>
